.u-section-1 .u-sheet-1 {
  min-height: 1445px;
}

.u-section-1 .u-group-1 {
  min-height: 1338px;
  margin-top: 1px;
  margin-bottom: 60px;
  height: auto;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-family: Poppins;
  font-weight: 700;
  margin: 62px 484px 0 auto;
}

.u-section-1 .u-text-2 {
  font-family: Poppins;
  width: 611px;
  font-style: italic;
  margin: 10px auto 0;
}

.u-section-1 .u-group-2 {
  width: 249px;
  min-height: 556px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 114px auto 0 13px;
}

.u-section-1 .u-container-layout-2 {
  padding: 17px 10px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-family: Poppins;
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto auto auto;
  margin-top: 34px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
  min-height: 253px;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 1.125rem;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 1.125rem;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-size: 1.125rem;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-size: 1.125rem;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  font-family: Poppins;
  margin: 61px 10px 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-family: Poppins;
  font-weight: 700;
  text-decoration: underline !important;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-family: Poppins;
  width: 94px;
  margin: 19px auto 0;
}

.u-section-1 .u-tabs-1 {
  min-height: 1086px;
  height: auto;
  width: 845px;
  margin: -557px 13px 0 auto;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  font-family: Poppins;
  border-style: double;
  padding: 10px 23px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  font-family: Poppins;
  border-style: double;
  padding: 10px 23px;
}

.u-section-1 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  font-family: Poppins;
  border-style: double;
  padding: 10px 23px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-video-1 {
  height: 475px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  width: 100%;
  margin: 21px 0 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-family: Poppins;
  margin: 23px 0 0;
}

.u-section-1 .u-text-7 {
  margin: 34px 0 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-family: Poppins;
  margin: 30px 0 0;
}

.u-section-1 .u-group-3 {
  min-height: 249px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  font-size: 1.125rem;
  line-height: 2;
  font-family: Poppins;
  margin: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 0 30px;
}

.u-section-1 .u-video-2 {
  height: 475px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  width: 845px;
  margin: 21px 23px 0 0;
}

.u-section-1 .embed-responsive-2 {
  position: absolute;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-family: Poppins;
  margin: 23px 60px 0 0;
}

.u-section-1 .u-form-1 {
  height: 77px;
  background-image: none;
  width: 835px;
  margin: 12px 10px 0 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  font-weight: 700;
  padding: 10px 68px 10px 66px;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 0 30px;
}

.u-section-1 .u-video-3 {
  height: 475px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-1 .embed-responsive-3 {
  position: absolute;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-family: Poppins;
  margin: 43px 0 0;
}

.u-section-1 .u-group-4 {
  min-height: 249px;
  height: auto;
  width: 835px;
  margin: 43px 10px 0 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-text-12 {
  font-size: 1.125rem;
  line-height: 2;
  font-family: Poppins;
  margin: 5px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1586px;
  }

  .u-section-1 .u-group-1 {
    min-height: 1516px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 399px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 959px;
    width: 646px;
    margin-top: -586px;
  }

  .u-section-1 .u-video-1 {
    height: 357px;
  }

  .u-section-1 .u-group-3 {
    min-height: 227px;
    width: 635px;
    margin-top: 13px;
    margin-right: 0;
    margin-left: auto;
    height: auto;
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-1 .u-video-2 {
    height: 357px;
    width: 100%;
    margin-right: 0;
  }


  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-video-3 {
    height: 357px;
  }

  .u-section-1 .u-group-4 {
    min-height: 217px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-1 .u-text-12 {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    min-height: 1930px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 82px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 23px;
    margin-left: 55px;
    margin-right: 55px;
  }

  .u-section-1 .u-group-2 {
    width: 641px;
    min-height: 497px;
    margin-top: 81px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-1 .u-tabs-1 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
  }

  .u-section-1 .u-form-1 {
    margin-top: 108px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    min-height: 1898px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    min-height: 546px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-tabs-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-tab-link-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-tab-link-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-tab-link-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-video-1 {
    height: 300px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-3 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
  }

  .u-section-1 .u-video-2 {
    height: 300px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-top: 94px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-video-3 {
    height: 300px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1640px;
  }

  .u-section-1 .u-group-1 {
    min-height: 1489px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    margin-top: 30px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 94px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 576px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-tab-link-1 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-tab-link-2 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-tab-link-3 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-video-1 {
    height: 190px;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-video-2 {
    height: 190px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 48px;
  }

  .u-section-1 .u-form-1 {
    height: 140px;
    width: 340px;
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-video-3 {
    height: 190px;
  }

  .u-section-1 .u-group-4 {
    min-height: 339px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-12 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 0;
  }
}